body{
    color: #333333;
    font-family: arial;
    max-width: 625px;
    margin: 0px auto;
    padding: 0px 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}
footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
p{
    font-size: 22px;
}
form input{
    padding: 8px 22px 8px 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 5px;
    margin-right: 8px;
    border: 1px solid #cccccc
}
form button{
    padding: 6px 17px;
    cursor: pointer;
    font-size: 18px;
    background-color: #51c95b;
    border-radius: 5px;
    border: none;
}
form button:hover{
    background-color: #26852f;
    color: white;
}
header a {
    color: #888888;
    text-decoration: none;
    margin-right: 16px;
}