<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/3314/3314019.png" type="image/x-icon">
    <title>Error</title>
</head>
<body>
    <div class="main-content">
       {{>header}}
     <h1>{{errormsg}}</h1>
    </div>
    <img src="https://cdn.pixabay.com/photo/2016/04/24/22/30/monitor-1350918_960_720.png" alt="error" >
    {{>foter}}
</body>
</html>